img {
    object-fit: cover;
    object-position: center;
}

#Logo
{
    width: 50px;
    height: 50px;
}


.image-principale img
{
    object-fit: cover;
    object-position: center;
    width: 75%;
    height: 400px;

}


