img {
    object-fit: cover;
    object-position: center;
}

.logo
{
    width: 50px;
    height: 50px;
}


.image-principale img
{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 60vh;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, .25);
}


img.contain {
    object-fit: contain;
}

figcaption {
    font-family: "Open Sans Regular";
}