img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.icon{
    width: 30px;
    height: 30px;
    object-fit: contain;
}
.titre-icon{
    display: flex;
    align-items:baseline;
    justify-content: flex-start;
}
.titre-icon h2{
    margin-left: 20px;
}


ul li {
    list-style-type: none;
    display: inline;
}
ul li a{
    color: #f27999;
}
ul li a:hover{
    color: #f27999;
}

/*CARTES*/
figure{
    position: relative;
    width: 45%;
    aspect-ratio: 1/1;
}
.overlay{ 
    background-image: linear-gradient(to bottom,#39393900,black);
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
}

figcaption{
    position: absolute;
    bottom: 20px;
    left: 35px;
    text-align: center;
    color: #fff;
}

.overlay p{
    font-weight: bolder;
    position: absolute;
    bottom: 20px;
    left: 35px;
    color: #fff;
}

.absolute{
    position: absolute;
    top: 20px;
    right: 20px;
}

.circle{
    width: 50px;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}