@font-face {
    font-family: "Open Sans Light";
    src: url("../fonts/OpenSans-Light.woff") format("woff"),
         url("../fonts/OpenSans-Light.woff2") format("woff2");
}

@font-face {
    font-family: "Open Sans Regular";
    src: url("../fonts/OpenSans-Regular.woff") format("woff"),
         url("../fonts/OpenSans-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Open Sans SemiBold";
    src: url("../fonts/OpenSans-SemiBold.woff") format("woff"),
         url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
}

@font-face {
    font-family: "Signika";
    src: url("../fonts/Signika-Bold.woff") format("woff"),
         url("../fonts/Signika-Bold.woff") format("woff2");
}

body {
    font-family: "Open Sans Light", sans-serif;
}

strong, em {
    font-family: "Open Sans SemiBold", sans-serif;
}

h1, h2 {
    font-family: "Signika", sans-serif;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.25rem;
    color: #343637;
}

figure a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.icon{
    width: 30px;
    height: 30px;
    object-fit: contain;
}
.titre-icon{
    display: flex;
    align-items:baseline;
    justify-content: flex-start;
}
.titre-icon h2{
    margin-left: 20px;
}

.liens_internes {
    padding: 0;
}

.liens_internes li {
    list-style-type: none;
    display: inline;
    margin-right: 20px;
}
.liens_internes a{
    color: #f27999;
}
.liens_internes a:hover{
    color: #f27999;
}

/*CARTES*/
.justify-content-between figure {
    position: relative;
    width: 45%;
    aspect-ratio: 1/1;
}
.overlay{ 
    background-image: linear-gradient(to bottom, transparent, black);
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    color: #fff;
}
.overlay p{
    margin-left: 10%;
}
.overlay p:first-child{
    position: absolute;
    top: 50%;
    left: 0px;
    font-weight: bold;
}
.overlay p:last-child{
    position: absolute;
    top: 70%;
}
.absolute{
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
}

.absolute .circle:last-child{
    margin-left:20px;
}

.circle{
    width: 50px;
    height: 50px;
    background-color: #343637;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_rose{
    background: #feaae5;
}

/*FILE DARIANE*/
.breadcrumb-item a{
    color:#f27999;
}

@media screen and (max-width: 991px) {
    .justify-content-between figure {
        aspect-ratio: unset;
        width: 100%;
        height: 350px;
    }
}