@font-face {
    font-family: "Open Sans Light";
    src: url("../fonts/OpenSans-Light.woff") format("woff"),
         url("../fonts/OpenSans-Light.woff2") format("woff2");
}

@font-face {
    font-family: "Open Sans Regular";
    src: url("../fonts/OpenSans-Regular.woff") format("woff"),
         url("../fonts/OpenSans-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Open Sans SemiBold";
    src: url("../fonts/OpenSans-SemiBold.woff") format("woff"),
         url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
}

@font-face {
    font-family: "Signika";
    src: url("../fonts/Signika-Bold.woff") format("woff"),
         url("../fonts/Signika-Bold.woff") format("woff2");
}

body {
    font-family: "Open Sans Light", sans-serif;
}

strong, em {
    font-family: "Open Sans SemiBold", sans-serif;
}

h1, h2 {
    font-family: "Signika", sans-serif;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.25rem;
    color: #343637;
}

caption {
    color: black;
}

.accordion-button div {
    position: relative;
    width: 40px;
    height: 40px;
}

.accordion-button div img {
    position: absolute;
    top: 0;
    left: 0;
}

.accordion-button.collapsed div img:first-child {
    display: none;
}

.accordion-button:not(.collapsed) div img:last-child {
    display: none;
}

.btn-success {
    background-color: #F27999;
    border-color: #F27999;
}
@media screen and (max-width: 991px) {
    table.w-75 {
        width: 100%!important;
    }
    main h1 {
        text-align: center;
        font-size: 3rem;
    }
}


/* FOOTER*/
body > footer > div:first-child {
    background-color: #F27999;
}

body > footer > div:last-child {
    background-color: #FEAAE5;
}

body > footer .nav-item {
    padding-left: 4px;
    padding-right: 4px;
}

body > footer form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}

body > footer input {
    background-color: #f4f2f2;
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    margin-right: -3.25rem;
    width: 300px;
    margin-bottom: 20px;
}

body > footer button {
    border: none;
    background-color: #f4f2f2;
    margin-bottom: 20px;
}
